body{
    background-color: darkcyan;
}
.heading-class{
    background-color: rgb(151, 60, 60);
}
button{
    background-color: black;
color: white;

}
.cls{
    background-color: black;

}

outer{
    padding: 20px;
    background-color: rgb(47, 179, 102);
}